html {
    background: rgb(247, 250, 252);
    font-family: "Roboto", sans-serif;
}

#content {
    display: flex;
}

#center {
    margin-left: auto;
    margin-right: auto;
    margin-top: 3em;
    width: 40%;
    min-width: 60em;
}

.table-wrapper {
    margin-top: 2em;
    padding: 0;
    border-radius: 0.4em;
    border: 1px solid #dadada;
    background: white;
}

.column {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}

.row:last-child .column {
    border-bottom: 0;
}

.table {
    border-collapse: collapse;
    width: 100%;
}

.row {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #dadada;
    padding: 1em 1em 0.5em;
    height: 7em;
}

.row:last-child {
    border-bottom: 0;
}

.column {
    flex-grow: 1;
}

.column-1 {
    width: 40%;
    padding-right: 0.5em;
}

.column-2 {
    text-align: right;
    padding-right: 0.5em;
}

.column-2 div {
    text-align: right;
}

.civilization {
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 700;
    font-size: 1.2em;
    color: #333;
    opacity: 0.1;
    text-transform: uppercase;
    margin-bottom: 0.2em;
}

.civilization.unique {
    color: #7658c6;
    opacity: 1;
}

.attack, .defense {
    margin-top: 0.4em;
}

.column-3 {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding-left: 0.5em;
    font-size: 0.9em;
}

.column-3 .strength {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
}

.column-3 .weakness {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
}

.column-3 .arrow {
    margin-right: 0.5em;
}

.column-1 .header {
    display: flex;
    justify-content: space-between;
}

.column-1 .header .name {
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 700;
    font-size: 1.2em;
    margin-bottom: 0.2em;
}

.column-1 .header .cost {
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 700;
    display: flex;
    margin-right: 2em;
}

.cost .cost-item {
    width: 1.8rem;
    text-align: right;
}

.column-1 .unit-description {
    font-size: 0.9em;
}

.unit-content {
    display: flex;
    flex-grow: 1;
}

.unit-status {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    color: #b5b5b5;
    font-size: 0.8em;
    padding-top: 0.6em;
    letter-spacing: 0.04em;
}

.red {
    color: #c93a10;
}

.green {
    color: #62ae53;
}

.gray {
    color: #7b7b7b;
}

.yellow {
    color: #e5a643;
}

.arrow.red {
    border-color: #c93a10;
}

.arrow.green {
    border-color: #62ae53;
}

.arrow.gray {
    border-color: #7b7b7b;
}

.arrow.yellow {
    border-color: #e5a643;
}

.disabled {
    opacity: 0.21;
}

.attack, .defense {
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 700;
    font-size: 0.9em;
}

span.dark {
    color: #6a6a6a;
}

span.light {
    color: #b9b9b9;
}

input:focus {
    box-shadow: 0 5px 12px rgba(0, 0, 0, 0.1);
}

.title {
    display: flex;
    justify-content: center;
    font-size: 3em;
    font-weight: 700;
    padding-bottom: 1em;
}

.title span {
  padding: 0.2em;
}

input {
    font-size: 2em;
    font-family: "Roboto Condensed", sans-serif;
    color: #4b4b4b;
    border-radius: 0.2em;
    border-width: 0;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    padding: 0.2em 0.6em;
    width: 100%;
    box-sizing: border-box;
    outline: none;
    font-weight: 700;
    opacity: 0.5;
}

i.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

i.arrow.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

i.arrow.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.list-container .separator:last-child {
    opacity: 0;
}